

.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4.3rem;
    background-color: var(--main-red);
    display: flex;
    justify-content: flex-end;
    z-index: 999;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
    width: 20rem;
    font-family: "Raleway", sans-serif;
    padding-right: 3rem;
}
nav a {
    text-decoration: none;
    color: var(--main-white);
    font-weight: 500;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    
}

a:hover p{
    color: var(--main-gray);
}