main {
    background-color: var(--main-blue);
    width: 100%;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.project-title{
    color: var(--main-white);
    text-align: center;
    font-size: 2.6rem;
    border-bottom: 2px solid var(--main-white);
}

.grid-cell{
    display: flex;
    flex-direction: column;
}

.image{
    object-fit: cover;
    width: 100%;
    margin: 0;
}

.grid-title{
    background-color: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-title h3{
    color: var(--main-white);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.image-contain{
    width: 100%;
    cursor: pointer;
}

.grid-container{
    margin-bottom: 1rem;
}
.button-show{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 40px;
    width: 140px;

}
.button-show div{
    display: absolute;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    transition: opacity 0.15s;
    margin-left: -1.8rem;
    margin-top: 0.2rem;
    transition: margin-left 0.15s;
}
.button-show:hover div{
    font-size: 1.8rem;
    margin-top: 0rem;
    margin-left: -1.6rem;
}

.show:hover{
    background-color: var(--main-red);
}
.show{
    margin-left: -1rem;
    background-color: var(--main-gray);
    color: var(--main-white);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8.3rem;
    border: none;
    padding-left: 1remm;
    padding-right: 2rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.grid-title{
    position: relative;
}

.great,
.less{
    display: absolute;
    color: rgb(229, 105, 37);
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.15s;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.grid-cell:hover .great,
.grid-cell:hover .less
{
    opacity: 1;
}

.less{
    margin-right: 0.5rem;
}

.great{
    margin-left: 0.5rem;
}
@media (min-width: 500px){
    main{
        height: 232rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6, 500px);
        max-width: 1300px;
        width: 96%;
        max-width: 1300px;
        height: 204rem;
        gap: 2.5rem;
        padding-right: 1rem;
    }
    
    .grid-cell{
        width: 100%;
        height: 100%;
        border: 2px solid white;
    }

    .project-title{
        padding-top: 5rem;
        padding-bottom: 0.3rem;
        margin-bottom: 3.8rem;
        width: 20rem;
    }

    .image{
        margin-bottom: -4px;
        height: 430px;
    }
    #quote,
    #tribute{
        height: 430px;
    }

    
}


@media (min-width: 730px){
    main{
        height: 120rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 500px 500px;
        max-width: 1300px;
        width: 96%;
        max-width: 1300px;
        height: 95rem;
        gap: 2.5rem;
        padding-right: 1rem;
    }
    
    .grid-cell{
        width: 100%;
        height: 100%;
        border: 2px solid white;
    }

    .project-title{
        padding-top: 5rem;
        padding-bottom: 0.3rem;
        margin-bottom: 3.8rem;
        width: 40rem;
    }

    .grid-title{
        height: 4.2rem;
    }

    .image{
        margin-bottom: -4px;
        height: 432px;
    }

    #quote,
    #tribute{
        height: 332px;
    }
}



@media (min-width: 1090px){
    
    main{
        height: 90rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 480px 480px 480px;
        max-width: 1300px;
        width: 96%;
        max-width: 1300px;
        height: 66rem;
        gap: 2.5rem;
        padding-right: 1rem;
    }
    
    .grid-cell{
        width: 100%;
        height: 100%;
        border: 2px solid white;
    }

    .project-title{
        padding-top: 5rem;
        padding-bottom: 0.3rem;
        margin-bottom: 3.8rem;
        width: 40rem;
    }

    .grid-title{
        height: 5rem;
        margin-top: -5px;
    }

    .image{
        height: 405px;
    }
    #quote,
    #tribute{
        height: 405px;
    }
}






